@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
div {
  width: 100%;
  max-width: 500px;
  height: 100%;
  background-color: rgb(83, 67, 67);
  color: #03f838;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Courgette', cursive;
  border: 10px solid purple;
}
